<%- include('../partials/head', { pageTitle: 'Cart' }) %>
<body>
  <%- include('../partials/header') %>
  <div class="container d-flex flex-column<%= cartProducts.length > 0 ? "" : "d-none" %>">
    <table id="cartProductsTable" class="table m-3">
      <thead>
        <tr>
          <th scope="col">Preview</th>
          <th scope="col">Prod. Name</th>
          <th scope="col">ID</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody id="cartProductsTableBody">
        <% cartProducts.forEach((elem) => { %>
          <tr class="text-capitalize">
            <td><img src="<%= elem.thumbnail || 'https://via.placeholder.com/256' %>" alt="<%= elem.name %>" class="img-fluid" width="32" /></td>
            <td><%= elem.name %></td>
            <th><%= elem.id %></th>
            <td>$<%= elem.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <form
      id="checkoutForm"
      method="get"
      action="/checkout-notifications"
      class="m-3 ms-auto"
    >
      <button class="btn btn-success" type="submit">Confirm purchase ></button>
    </form>
  </div>
</body>
</html>
