<%- include('../partials/head', { pageTitle: 'Products', content: '<script defer src="/js/products.js"></script>' }) %>
<body>
  <%- include('../partials/header') %>

  <div class="d-flex align-items-start">
    <!-- PRODUCT FORM -->
    <div class="d-flex align-items-center mx-3">
      <%- include('../partials/product-form') %>
    </div>

     <!-- PRODUCT TABLE -->
      <div class="border rounded-bottom">
        <table id="productsTable" class="table m-0 <%= productList.length > 0 ? "" : "d-none" %>">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Preview</th>
              <th scope="col">Prod. Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>

          <tbody id="productsTableBody">
            <% productList.forEach((elem) => { %>
              <tr class="text-capitalize">
                <th><%= elem.id %></th>
                <td><img src="<%= elem.thumbnail %>" alt="<%= elem.name %>" class="img-fluid" width="32" /></td>
                <td><%= elem.name %></td>
                <td>$<%= elem.price %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <div id="noProductAlert" class="alert alert-warning <%= productList.length > 0 ? "d-none" : "" %>" style="max-width: fit-content;">
          <h4 class="alert-heading">No products found</h4>
          <hr>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span>Try adding some products first and come back...</span>
      </div>
  </div>
</body>
</html>
